<h1>Atualizar Cadastro</h1>
<%= @error %>
<form action="/biologia/atualiza_cadastro/<%= @usuario.id %>" id="form" method="post">
	<input class="form-control" type="hidden" name="nome" value="<%= @usuario.id %>" placeholder="Nome">
	<input class="form-control" type="text" name="nome" value="<%= @usuario.nome %>" placeholder="Nome">
	<input class="form-control" type="text" id="email" name="email" value="<%= @usuario.email %>" placeholder="Email">
	<input class="form-control" type="password" name="senha" placeholder="Senha">
	<input class="form-control" type="submit" value="Atualizar cadastro">
</form>